name: Face Detect MQTT
version: "1.0.0"
slug: face_detect_mqtt
description: Detect faces and send snapshots and number of faces via MQTT. Store faces on ftp server.
startup: services
boot: auto
arch:
  - amd64
  - aarch64
  - armv7
  - armhf

options:
  TOKEN: ""
  HA_URL: ""
  HAAR_DETECT: "models/haarcascade_frontalface_default.xml"
  HAAR_SCALE_FACTOR: 1.2
  HAAR_MIN_NEIGHBOURS: 3
  UNIQUE_PERSON_ID: ""
  MQTT_BROKER: ""
  MQTT_PORT: 1883
  MQTT_USER: ""
  MQTT_PWD: ""
  MQTT_DISCOVER_TOPIC: "homeassistant/camera/esp32_cam_facedetect"
  MQTT_IMG_TOPIC: "img"
  MQTT_RESPONS_TOPIC: "img/respons"
  MQTT_TRIG_CNT_FACES_TOPIC: "faces/count"
  TEST_ON_PC: 0
  FTP_SERVER: ""
  FTP_USER: ""
  FTP_PWD: ""
  TIMES_TO_WAIT: 10
  DETECT_1_FACE: "on"

schema:
  TOKEN: str
  HA_URL: str
  HAAR_DETECT: str
  HAAR_SCALE_FACTOR: float
  HAAR_MIN_NEIGHBOURS: int
  UNIQUE_PERSON_ID: str
  MQTT_BROKER: str
  MQTT_PORT: int
  MQTT_USER: str
  MQTT_PWD: password
  MQTT_DISCOVER_TOPIC: str
  MQTT_IMG_TOPIC: str
  MQTT_RESPONS_TOPIC: str
  MQTT_TRIG_CNT_FACES_TOPIC: str
  TEST_ON_PC: int
  FTP_SERVER: str
  FTP_USER: str
  FTP_PWD: password
  TIMES_TO_WAIT: int
  DETECT_1_FACE: str

host_network: true
mqtt: false
